#login{
    background: linear-gradient(120deg, #4c79d3 44.9%, #ffffff 45%) no-repeat fixed;

}

.text-login{
    color: #ffffff;
    font-size: 10px;
    font-weight: 500;
}

.coins{
    position: absolute;
    bottom: 100px;


}

