#login{
    background: linear-gradient(120deg, #4c79d3 44.9%, #ffffff 45%) no-repeat fixed;

}

#app{
     background: linear-gradient(120deg, #ffffff 44.9%, #4c79d3 45%) no-repeat fixed;

}

header{
    border-bottom: 1px solid #bebebc;    
    padding: 5px;
    background-color: #ffffff;
}

.color-primary{
    color: #4c0070;
}

.icon-detail{
    font-size: 50px;
    margin-right: 10px;
    vertical-align: middle;
}

.color-secondary{
    color: #4c79d3;
}

.text-login{
    color: #ffffff;
    font-size: 10px;
    font-weight: 500;
}

.coins{
    position: absolute;
    bottom: 100px;
}

.button-login{
    border-radius: 10px;
    background-color: #4c0070;
    color: #ffffff;
    width: 50%;
    margin: 0 25%;    
}

/* hover - applies styles to an element when the cursor hovers over it */

.button-login:hover{
    background: #4c79d3;
    color: #ffffff;
}

.link-default{
    color: #4c0070;
    cursor: pointer;
}

.link-default:hover{
    color: #4c79d3;
}

.my-form-text{
    font-size: 14px;
    color: #808080;
}
